.job-card{
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 20px;
    margin-left: 20px;
}

.job-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important ;
    font-size: 19px !important;
    font-weight: 700;
    color: #071221;
}

.job-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: none;
}

.sub-flex{
    display: flex;
    align-items: center !important;
    
}

.sub-flex img{
    width: 25px;
    height: 25px;
    margin-right: 6px;
}

.sub-flex p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #071221;
    font-size: 16px !important; 
    font-weight: 500;
    display: block;
    margin-top: -10px;
}

.location{
    color: #7D8083;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: 400;
    font-size: 17px;
    margin-top: -15px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.rule{
    background-color: #C3C8CD;
    width: 100%;
    height: 1px;
    border-radius: 1000px;
}

.job-desc{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #071221;
    line-height: 20px;
    height: 75px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
}

.sub-flex2{
    display: flex;
    align-items: center;
}

.sub-flex2 img{
    margin-top: 15px;
    width: 100px;
    height: auto;
}

.sub-flex2 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #071221;   
}

.apply-button{
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #071221;
    font-size: 14px;
    font-weight: 400;   
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
    .job-card{
        border-radius: 5px;
        box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.2);
        transition: 0.3s;    
        padding: 10px 20px;
        margin-left: 20px;
        margin-top: -25px;
    }
    
    .job-title{
        font-size: 19px !important;
    }
    
    
    .sub-flex img{
        width: 22px;
        height: 22px;
        margin-right: 6px;
    }
    
    .sub-flex p{
        font-size: 16px !important; 
     
    }
    
    .location{
        margin-top: -15px;
        margin-left: 10px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    
    .job-desc{
        line-height: 20px;
        height: 55px;
        margin-bottom: 25px;
        padding-bottom: 5px;
        font-size: 16px;
    }
    
     
    .apply-button{
        width: 100%;
        height: 38px;
        font-size: 14px;
        font-weight: 400;   
        margin: 10px auto 20px auto;
        display: block;
    }
                
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {}