
.jobs_grid-3{
    margin-top: 40px;
    margin-bottom: 70px;
    padding-right: 20px;
    display: grid;
    row-gap: 65px;
    grid-template-columns: 33% 33% 33%;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
    .jobs_grid-3{
        margin-top: 40px;
        margin-bottom: 70px;
        padding-right: 20px;
        display: grid;
        row-gap: 65px;
        grid-template-columns: 100%;
    }                
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {}